.mainData {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 8rem;
}

.mainData img {
  width: 440px;
  height: 300px;
}

.countryData {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 120px;
  margin-left: -120px;
}

.countryData h1 {
  margin: 0px;
}

.countryData .dataBox1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 20px;
}

.dataBox1 p {
  margin: 5px 0px;
}

.dataBox1 span {
  font-weight: bold;
}

.countryData .dataBox1 {
  font-weight: normal;
  margin-right: 5px;
}

.countryData .borderBox {
  margin-top: 20px;
}

.borderBox p {
  font-weight: bold;
}

.borderBox .borders {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 5px;
  width: 100%;
}

.borderBox .borders a {
  text-transform: capitalize;
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--elements-color);
  display: flex;
  min-height: 25px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 300;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.2);
}

@media (min-width: 767px) and (max-width: 1024px) {
  .mainData img {
    width: 340px;
    height: 200px;
  }

  .countryData h1 {
    font-size: 28px;
  }

  .countryData .dataBox1 p,
  .countryData .dataBox1 span {
    font-size: 14px;
  }
}

@media (max-width: 767px) {
  .mainData {
    grid-template-columns: 1fr;
  }

  .mainData img {
    width: 280px;
    height: 180px;
  }

  .countryData {
    width: 280px;
    margin: auto;
    margin-top: 30px;
  }

  .countryData h1 {
    font-size: 17px;
  }

  .countryData .dataBox1 {
    grid-template-columns: 1fr;
  }

  .countryData .dataBox1 p,
  .countryData .dataBox1 span {
    font-size: 12px;
  }

  .dataBox1 .topLevel {
    margin-top: 40px;
  }

  .borderBox .borders {
    grid-template-columns: repeat(3, 1fr);
  }

  .borderBox .borders a,
  .borderBox .borders p,
  .borderBox .borders span {
    font-size: 12px;
  }
}

@media (max-device-width: 820px) {
  .countryData {
    margin-left: auto;
    margin-right: auto;
  }
}
