.mainCountry {
  min-height: 100vh;
}

.backIcon {
  margin-right: 10px;
}

.countryContainer {
  width: 1440px;
  margin: auto;
  padding: 40px 0px;
}
.loading {
  min-height: 100vh;
}

.backButton {
  text-decoration: none;
  color: var(--text-color);
  background-color: var(--elements-color);
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 40px;
  box-shadow: 1px 1px 1em rgba(0, 0, 0, 0.2);
}

@media (min-width: 767px) and (max-width: 1024px) {
  .mainCountry {
    padding: 20px;
  }

  .countryContainer {
    width: auto;
  }
}

@media (max-width: 767px) {
  .mainCountry {
    padding: 20px;
    height: auto;
  }

  .countryContainer {
    width: auto;
  }
}
